body{
    background: #fff;
}


.header_banner{
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -20px;
}

.header_title{
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
}


.back_home i{
  margin-left: 1rem;

}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.title .fa {
  font-size: 25px;
  

}
.content{
  flex: 1;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  strong {
  }
}

.prix{
  display: flex;
  align-items: flex-end;
 
}


.check_icon{
  background: #99e2d0;
    cursor: pointer;
    height: auto;
    width: 0;
    opacity: 0;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s 
    ease-in-out, width 0.4s 
    ease-in-out, opacity 0.4s 
    ease-in-out;
}
.starter {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0 16px #d4cfcf;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
    gap:1rem;
    animation: glissement 0.3s linear;
    margin-top: 1rem;

    animation-fill-mode: both;  
    &:nth-child(1) { animation-delay: .25s }
    &:nth-child(2) { animation-delay: .5s }
    &:nth-child(3) { animation-delay: .75s }
    &:nth-child(4) { animation-delay: 1s }

  
}

@keyframes glissement {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    opacty:1;
    transform: translateY(0);
  }
}
