@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
  min-width: 300px;
  font-family: "roboto", sans-serif;
}

.load {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  animation: load-end 2s linear;
  animation-delay: 1.05s;
  animation-fill-mode: both;
  background-color: #fff;
  z-index: 1000;
}

.loading {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid #9356DC;
  border-top-color: #99E2D0;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes load-end {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.locate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e9e5e5;
  height: 43px;
  border-top: solid #d8d4d4 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 41px;
  color: #2e2e2e;
}
.locate i {
  margin-right: 1rem;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f2f2;
  padding-bottom: 3rem;
}
.explorer h3 {
  text-align: center;
  margin: 0px;
  padding: 2rem 1rem 0 1rem;
  font-size: 25px;
}
.explorer span {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.expoler_restaurant {
  text-decoration: none;
}
.expoler_restaurant p {
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  text-align: center;
  justify-content: center;
  width: auto;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 2rem;
  color: #fff;
  margin: 0 2rem;
  font-family: "roboto", sans-serif;
  margin-top: 1rem;
}
.expoler_restaurant p:hover {
  background: linear-gradient(#f5b1e2, #c098f1);
  box-shadow: 0 2px 10px #868686;
}

.title_func {
  margin-top: 3rem;
  margin-left: 15px;
  font-family: "roboto", sans-serif;
}

.function {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7f2f2;
  margin: 0 1.5rem;
  border-radius: 1rem;
  box-shadow: #cfcaca 0 0 10px;
  margin-bottom: 1rem;
  position: relative;
}
.function:hover .fas {
  color: #9356DC;
}
.function span {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: #9356DC;
  text-align: center;
  padding: 3px;
}
.function .icon_choice {
  position: absolute;
  left: 30px;
  color: gray;
}
.function p {
  font-family: "roboto", sans-serif;
  font-weight: bolder;
  margin-left: 2rem;
}

.card_resto {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 16px #f7f2f2;
  margin: 16px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.card_resto img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
.card_resto .new_resto {
  background-color: #99E2D0;
  position: absolute;
  right: 2rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.1rem;
  color: #035540;
  font-weight: bold;
}

.card_resto:hover {
  transform: scale(1.03);
}

#restaurants {
  background-color: #f7f2f2;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
#restaurants a {
  text-decoration: none;
  color: black;
}

.resto_content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.resto_content .resto_desc {
  margin: 0 10px 10px;
}
.resto_content p {
  margin: 0px;
}
.resto_content .like_btn {
  margin-right: 15px;
}

@media screen and (min-width: 740px) {
  .expoler_restaurant {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .how_order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .function p {
    width: 100%;
    margin-left: 60px;
    margin-right: 1rem;
  }

  .function span {
    left: -10px;
  }

  .restos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.header_banner {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -30px;
}

.header_title {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
  position: relative;
}

.header_title a {
  width: 0;
  height: 0;
}

.header_title a i::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 20px;
  color: black;
}

.back_home i {
  margin-left: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}
.title h1 {
  font-size: 26px;
  font-family: "Shrikhand", cursive;
}

.like_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.addFavoriteIcon {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.favoriteIcon {
  cursor: pointer;
  opacity: 0%;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.7s ease-in-out;
  position: relative;
  left: 1.5rem;
}

.favoriteIcon:hover {
  cursor: pointer;
  opacity: 100%;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  transition: opacity 0.7s ease-in-out;
  position: relative;
}

.content {
  flex: 1;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  line-height: 22px;
  width: 250px;
}
.price {
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
}

.check_icon {
  background-color: #99E2D0;
  color: #fff;
  cursor: pointer;
  height: 60px;
  width: 0;
  opacity: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.menu-content:hover .check_icon {
  cursor: pointer;
  width: 70px;
  opacity: 1;
}
.menu-content:hover .check_icon i {
  transform: rotate(360deg);
  transition: 0.8s;
}

.menu-content {
  display: flex;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 16px #d4cfcf;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  animation: glissement 0.3s linear;
  margin-top: 1rem;
  animation-fill-mode: both;
}

@keyframes glissement {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.choice_1 {
  animation-delay: 0.1s;
}

.choice_2 {
  animation-delay: 0.2s;
}

.choice_3 {
  animation-delay: 0.3s;
}

.choice_4 {
  animation-delay: 0.4s;
}

.choice_5 {
  animation-delay: 0.5s;
}

.choice_6 {
  animation-delay: 0.6s;
}

.choice_7 {
  animation-delay: 0.7s;
}

.choice_8 {
  animation-delay: 0.8s;
}

.choice_9 {
  animation-delay: 0.9s;
}

.choice_10 {
  animation-delay: 1s;
}

main {
  background-color: #f1eeee;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  position: relative;
}

.meal_menu .menu__title::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 30px;
}

.under_title {
  height: 3px;
  width: 30px;
  margin-top: -15px;
  background-color: #99E2D0;
}

.order_btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.order_btn p {
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  text-align: center;
  justify-content: center;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 2rem;
  color: #fff;
}

.order_btn p:hover {
  background: linear-gradient(#f5b1e2, #c098f1);
  box-shadow: 0px 0px 10px #868686;
}

footer {
  display: block;
  background-color: #363636;
  color: #fff;
  padding: 5px;
}
footer h3 {
  font-size: 16px;
  font-family: "Shrikhand";
  font-weight: normal;
  padding-left: 15px;
}

footer ul {
  padding: 10px 15px;
}

footer ul li {
  position: relative;
  list-style-type: none;
}
footer ul li i {
  position: absolute;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 15px;
}

.footer_fas {
  margin-left: 2rem;
}

@media only screen and (min-width: 657px) {
  footer ul {
    display: flex;
  }
  footer ul li {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 767px) {
  .the_menus {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-overflow: ellipsis;
    position: relative;
    gap: 20px;
  }

  .content {
    max-width: 100%;
  }
  main {
    margin: 0 2rem 0 2rem;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
